

img{
    width: 100%;
    height: inherit;
}
.table-style{
    width: 1400px !important;
    font-size: 20px;
   
}
.container{
    overflow: auto;
}
.messManager{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    background: white;
}
.messManager .logo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}